.mb-4 {
    background-color: rgb(134, 134, 189);
    border-radius: 6px;
}

.form-control {
    margin-top: 20px;
}

.btn-secondary {
    margin-top: 20px;
    margin-left: 370px;
}

.h-100 {
    background-color: rgb(192, 202, 224);
}

.btn-primary {
    margin-top: 20px;
    margin-left: 370px;
}